.app-wrapper {
  max-width: 220px * 3 + 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin: min(max(100px, 10%), 300px) auto;

  padding: 20px;

  &__header {
    position: relative;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 560px) {
      flex-direction: column;
      justify-content: center;

      gap: 40px;
    }
  }
}